body {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.display-content {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "header header header""left middle right" " selection-information selection-information selection-information""footer footer footer";
    justify-items: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.content {
    padding: 20px 0;
}

.welcome-text {
    font-weight: bold;
}

.three-options {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.three-options button {
    border: none;
    background: transparent;
}

.img-disabled {
    opacity: 0.5;
    cursor: default;
}

.image-choose {
    cursor: pointer;
}


/* .image-choose img:hover {
    width: 170px;
    transition: width 0.6s ease, height 0.6s ease;
    border: 5px solid transparent;
    border-color: #63264f;
    border-radius: 100%;
} */

.w-size-minus {
    width: 150px;
}

.w-size-plus {
    width: 180px;
}

.w-size-middle {
    width: 110px;
}

.header {
    grid-area: header;
    font-size: 2em;
}

.left {
    grid-area: left;
}

.middle {
    grid-area: middle;
}

.middle img {
    border-radius: 100px;
    border: 6px solid #63264f;
}

.right {
    grid-area: right;
}

.selection-information {
    grid-area: selection-information;
}

.footer {
    grid-area: footer;
}

.button-play-design {
    background: #63264F;
    color: #fff;
    padding: .375em 4.75em;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.content:last-of-type {
    align-self: start;
}

.result {
    font-size: 4em;
    color: #63264f;
    font-weight: bold;
}

@media (max-width:550px) {
    .selection-information h2 {
        font-size: 1em;
    }
    .display-content {
        grid-template-areas: "header header header " " left middle right " "selection-information selection-information selection-information " " footer footer footer ";
        grid-template-columns: repeat(3, 110px);
        grid-template-rows: repeat(4, 1fr);
        /* grid-template-rows: 150px 220px 300px 50px; */
    }
    .left .w-size-plus,
    .right .w-size-plus {
        width: 120px;
    }
    .middle .w-size-middle {
        width: 60px;
    }
    .w-size-minus {
        width: 120px;
    }
    .three-options {
        gap: 10px;
    }
    .button-play-design {
        padding: .375em 1.75em;
        font-size: 1.5rem;
    }
}